/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282C34FF;
    background-alt: #21252BFF;
    foreground:     #BBC2CFFF;
    selected:       #51AFEFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
